body {
    background-color: #527396;
    font-family: Arial, sans-serif;
}

h1, h2, h3, h4, h5, h6 {
    color: #007bff;
}

a {
    color: #007bff;
    text-decoration: none;
}

.navbar {
    background-color: #007bff;
    margin-bottom: 20px;
}

.navbar-brand {
    color: #ffffff;
    font-size: 1.5rem;
    font-weight: bold;
}

.navbar-nav {
    color: #000000;
}

.navbar-toggler-icon {
    color: #ffffff;
}

.navbar-collapse {
    justify-content: center;
}

.navbar-collapse .navbar-nav {
    flex-direction: row;
}

.navbar-nav .nav-item {
    margin-left: 10px;
}

a:hover {
    text-decoration: underline;
}

.news-item {
    padding: 3px;
    border-radius: 10px;
    overflow: hidden;
    border: 10px solid #dee2e6;
}

.news-item:hover {
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    transform: scale(1.05);
}

.news-item img {
    max-width: 100%;
    height: auto;
}

.card-title {
    font-size: 1.25rem;
    color: #007bff;
}

.card-text {
    color: #000000;
}

.container h1 {
    margin-bottom: 20px;
    color: #000000;
}

.container {
    background-color: #527396;
}

.news-item .card-body {
    padding: 20px;
}

.card-title a {
    color: #000000;
    transition: color 0.3s ease;
}