<!DOCTYPE html>
<html lang="ca">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/css/style.css">
    <title>Diaris!</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/5.3.0/css/bootstrap.min.css">
</head>
<body>
    <!-- Barra de navegació -->
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <a class="navbar-brand" href="#">Diaris</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav">
                <li class="nav-item active">
                    <a class="nav-link" href="#">Inici</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/lavanguardia/deportes">Deportes</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/lavanguardia/politica">Política</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/lavanguardia/vida">Vida</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/lavanguardia/participacion">Participació</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/lavanguardia/gente">Gente</a>
                </li>
            </ul>
        </div>
    </nav>

    <!-- Carousel d'imatges -->
    <div id="newsCarousel" class="carousel slide" data-bs-ride="carousel">
        <div class="carousel-inner">
            <div class="carousel-item active">
                <img src="/static/img/p1.png" class="d-block w-100" alt="Noticia 1">
                <div class="carousel-caption d-none d-md-block">
                    <h5>Notícia 1</h5>
                    <p>Descripció de la notícia 1.</p>
                </div>
            </div>
            <div class="carousel-item">
                <img src="/static/img/diaris.jpg" class="d-block w-100" alt="Noticia 2">
                <div class="carousel-caption d-none d-md-block">
                    <h5>Notícia 2</h5>
                    <p>Descripció de la notícia 2.</p>
                </div>
            </div>
            <div class="carousel-item">
                <img src="/static/img/diaris.jpg" class="d-block w-100" alt="Noticia 3">
                <div class="carousel-caption d-none d-md-block">
                    <h5>Notícia 3</h5>
                    <p>Descripció de la notícia 3.</p>
                </div>
            </div>
        </div>
        <button class="carousel-control-prev" type="button" data-bs-target="#newsCarousel" data-bs-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#newsCarousel" data-bs-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Next</span>
        </button>
    </div>
    

    <script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.3/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/5.3.0/js/bootstrap.min.js"></script>
</body>
</html>
